{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
   <div style="background-color: blue; padding: 20px;">
        <img src="{{ asset('assets/images/vitalshop.jpg') }}" alt="Icone salon Beautiful" style="float: left; width: 150px; margin-right: 10px;">
        <h1 style="color: yellow;">Bienvenue sur le service d'administration des produits vitalshop</h1>
   </div>
{% endblock %}