{% extends 'base.html.twig' %}

{% block title %}Inscription réussie{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-success">Inscription réussie !</h1>
    <p>Votre inscription a été enregistrée avec succès, un Email de confirmation vous est envoyé. Vous pouvez maintenant vous connecter.</p>

    {# Ajoutez ici d'autres informations pertinentes pour l'utilisateur, comme un lien de connexion, etc. #}
</div>
{% endblock %}
